body {
	padding-top: 70px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
	/* the bottom margin is the negative value of the footer's height */
}

#footer, .push {
	height: 30px; /* .push must be the same height as .footer */
}

td span.label {
	margin-right: 1px;
}

.bootstrap-tagsinput {
	height: 100%;
}

.portfolio-delete-image-btn {
	position: absolute;
	bottom: 10px;
	right: 28px;
}

.portfolio-setcover-image-btn {
	position: absolute;
	bottom: 10px;
	right: 70px;
}

.img-container{
	margin-top: 10px;
}